
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}

.navbar
{

    
    display: flex;
    background-color: rgb(233, 115, 19);
    padding: 0px 2px;
    height: 84px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: all 0.7s ease-out;
}
.navbar img
{
    height: 80px;
    width: 80px;
    filter: invert();
}
ul
{
    display: flex;
    list-style: none;
}
ul li a
{
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    font-size: 1.2rem;
    font-family: 'Baloo Bhai 2', cursive;
}
ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
}
.burger
{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 7%;
    top: 13px;
}
.line
{
    width: 33px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}

body::before
{
    content: "";
    background:  url('../img/about2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 82px;
    left: 0px;
    height: 1246px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

.aboutSection
{
    /* background-color: rgba(172, 255, 47, 0.212); */
    margin-top: 95px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin-right:50px ; */
    color: rgb(233, 115, 19);
}
.box
{
    /* border: 2px solid black; */
    margin-right: 15%;
    /* margin-right: 250px; */
    transition: 1s;
}


.box:hover {

transform: scale(1.1);
}


.box h1
{
    text-align: center;
    font-size: 51px;
}
.box p
{
    margin-top: -19px;
    text-align: center;
    font-size: 31px;
}
.content
{
    /* background-color: rgba(0, 255, 255, 0.336); */
    height: 400px;
    display: flex;
    color: white;
    align-items: center;
}

#description
{
    background-color: rgba(233, 115, 19, 0.849);
    display: flex;
    flex-direction: column;
    height: 300px;
    /* margin-left: 170px; */
    margin-left: 15%;
    width: 550px;
    border-radius: 5px;
     justify-content: center;
    align-items: center; 
    transition: 1s;

}
#description:hover {

    transform: scale(1.1);
    }
#description h1
{
    font-size: 41px;
}
#description p
{
    font-size: 17px;
    padding: 0px 30px;
    text-align: justify;
}
.skillSection
{
    /* border: 2px solid black; */
    height: 469px;
    /* position: relative; */
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    /* : 10px; */

}
.skills
{
    height: 190px;
    width: 160px;
    /* border: 2px solid black; */
    position: relative;
    padding: 30px;
    /* background-color: white; */
    transition: 1s;
}
.skills:hover
{
    transform: scale(1.1);

}
.outer h1
{
    text-align: center;
    width: 100%;
    /* border: 2px solid orange; */
    margin-top: 40px;
    font-family: 'Baloo Bhai 2';
}
.outer
{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
    padding: 1px;
    background-color: rgb(255, 255, 255);
} 
.inner
{
    background-color: rgb(221, 221, 221);
    
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
     0.5px 0.5px 0px rgba(0,0,0,0.15),
     0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
}
 #number
{
    font-weight: 600;
    color: rgb(233, 115, 19);
    font-size: 21px;
    font-family: 'Baloo Bhai 2';
}
 
 #number2
{
    font-weight: 600;
    color: rgb(233, 115, 19);
    font-size: 21px;
    font-family: 'Baloo Bhai 2';
}
 #number3
{
    font-weight: 600;
    color: rgb(233, 115, 19);
    font-size: 21px;
    font-family: 'Baloo Bhai 2';
}
#circle
{
    fill: none;
    /* stroke: url(#GradientColor); */
    stroke: rgb(233, 115, 19);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 5s linear forwards;
    /* background-color: black; */
}

#circle2
{
    fill: none;
    stroke: rgb(233, 115, 19);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 5s linear forwards;
}
#circle3
{
    fill: none;
    stroke: rgb(233, 115, 19);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim3 5s linear forwards;
}
svg
{
    position: absolute;
    top: -1px;
    left: -2px;
    /* background-color: white; */
    padding: 33px;
}
@keyframes anim
{
    100%{
        stroke-dashoffset: 165;
    }
}
@keyframes anim2
{
    100%{
        stroke-dashoffset: 420;
    }
}
@keyframes anim3
{
    100%{
        stroke-dashoffset: 250;
    }
}
#footer
{
    background-color: black;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:65px;
}

@media screen and (max-width:901px) {
.aboutSection
{
    justify-content: center;
    align-items: center;
    width: 99%;
}
.box
{
    /* border: 2px solid red; */
    margin-left: 100px;
    transition: 1s;

}
.box:hover {
    margin-left: 100px;
    transform: scale(1.1);
    }
    
#description 
{
    justify-content: center;
    align-items: center;
    transition: 1s;
    
}
#description:hover{
    
    transform: scale(1.1);
}


}
@media screen and (max-width:731px) {

    .skillSection
    {
        flex-direction: column;
        /* border: 2px solid black; */
        height: 700px;
    }
    .aboutSection
    {
        height: 200px;
    }
    .content
    {
        height: 300px;
        justify-content: center;
        align-items: center;
    }
    .box
    {
        transition: 1s;
    }
    .box:hover {
        transform: scale(1.1);
        }
        
    
    
    #description
    {
        width: 400px;
        margin-left: 0px;
        transition: 1s;
    }
    #description:hover{
        
        transform: scale(1.1);
    }
    #description h1
    {
       font-size: 31px; 
    }
    #description p
    {
        font-size: 15px; 

    }
    #footer
    {
        margin-top: 31px;
    }

}
@media screen and (max-width:530px) {
    .navbar
    {
        flex-direction: column;
        height: 250px;
        justify-content: center;
        align-items: center;
    }
    ul
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .burger
    {
        display: block;
    }
    .h-nav
    {
        height: 55px;
    }
    .v-class
    {
        /* opacity: 0px; */
        visibility: hidden;
    }
    .box
    {
        margin-left: 50px;
        transition: 1s;
    }
    .box:hover
    {
        
        transform: scale(1.1);
    }
    .box h1
    {
        font-size: 39px;
    }
    .box p
    {
        font-size: 21px;
    }
    #description
    {
        height: 250px;
        width: 300px;
        transition: 1s;
    }
    #description:hover
    {
        
        transform: scale(1.1);
    }
    #description h1
    {
        font-size: 31px;
    }
    #description p
    {
        font-size: 13px;
    }
    body::before
{
    content: "";
    background:  url('../img/about2.jpg') no-repeat -650px 50px/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1346px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
    
    #footer
    {
        font-size: 11px;
    }

    
}

#preloader
{
    
    background: rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 117vh;
    width: 100%;
    position: fixed;
    z-index: 200;
    /* background-size: 30%; */
    margin-top: -150px;
    flex-direction: column;
}
#preloader img
{
    height: 150px;
}
#preloader h3
{
    color: rgb(194, 9, 101);
    margin-top: 5rem;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top:-50px;
}
