@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}


.navbar
{

    
    display: flex;
    background-color: rgb(233, 115, 19);
    padding: 0px 2px;
    height: 84px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: all 0.7s ease-out;
}
.navbar img
{
    height: 80px;
    width: 80px;
    filter: invert();
}
ul
{
    display: flex;
    list-style: none;
}
ul li a
{
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    font-size: 1.2rem;
    font-family: 'Baloo Bhai 2', cursive;
}
ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
}
.burger
{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 7%;
    top: 13px;
}
.line
{
    width: 33px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}

/* introsection */
#introSection::before
{
    content: "";
    background-image: url('../img/img2.jpg')  ;
    position: absolute;
    background-size: cover;
    background-position: center;

    top: 84px;
    height: 650px;
    width: 100%;
    z-index: -1;
    /* opacity: 0.8; */
}
#introSection
{
    color: rgb(255, 255, 255);
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.big
{
    font-size: 91px;
    /* border: 2px solid black; */
    margin-top: 300px;
}
.small
{
    font-size: 31px;
    margin-top: -30px;
}

#ourMission
{
    background-color: rgb(255, 255, 255);
    margin-top: 300px;
    font-family: 'Baloo Bhai 2', cursive;
    /* height: 60vh; */
    height: 400px;
}
#ourMission h4
{
    text-align: center;
    font-size: 41px;
    position: relative;
    top: 20px;
    /* border: 2px solid red; */
}

.container
{
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    margin-top: 50px;
    justify-content: center;
    /* height: 30vh; */
    height: 200px;
}
.card
{

    border: 2px solid orangered;
    width: 27%;
    border-radius:12px ;
    margin: 0px 10px;
    transition: 1s;
}
.card:hover {

transform: scale(1.01);
box-shadow: -4px -4px 41px 2px #eb6a00, 4px 4px 41px 2px #eb6a00;
/* box-shadow: -8px -8px 35px 2px #eb6a00, 8px 8px 35px 2px #eb6a00; */
}

.card h3
{
    text-align: center;
    /* background-color: blue; */
    margin-top: 10px;
    font-size: 21px;
}
.card-img img
{
    height: 100px;
    /* background-color: aqua; */

}
.card-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px px; */
}
.card-content p
{
    padding: 0px 20px;
    text-align: justify;
}

#sponsorsSection
{
    background-color: #f7a563;
    /* height: 55vh; */
    height: 350px;
}
#sponsorsSection h4
{
    text-align: center;
    font-size: 41px;
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 37px;
}
#sponsor
{
    /* background-color: aqua; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#sponsor1
{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    width: 40%;
}
#sponsor2
{
    display: flex;
    justify-content: center;
    /* border: 1px solid rgb(199, 0, 0); */
    width: 40%;
}
#sponsor1 img
{
    height: 150px;
    margin: 0px 40px;
}
#sponsor2 img
{
    height: 150px;
    margin: 0px 40px;
}



#footer
{
    background-color: black;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1111px) {
    #sponsorsSection
    {
        height: 300px;
    }
    #sponsor1 img
    {
        height: 100px;
    }
    #sponsor2 img
    {
        height: 100px;
    }
    .card
    {
        transition: 1s;
    }
    .card:hover {

        transform: scale(1.01);
        box-shadow: -4px -4px 41px 2px #eb6a00, 4px 4px 41px 2px #eb6a00;
        /* box-shadow: -8px -8px 35px 2px #eb6a00, 8px 8px 35px 2px #eb6a00; */
        }
    
}
@media screen and (max-width:930px) {
.card 
{
    width: 300px;
    transition: 1s;
}
.card:hover {

    transform: scale(1.01);
    box-shadow: -4px -4px 41px 2px #eb6a00, 4px 4px 41px 2px #eb6a00;
    /* box-shadow: -8px -8px 35px 2px #eb6a00, 8px 8px 35px 2px #eb6a00; */
    }
.card-content
{
    font-size: 15px;
}
}
@media screen and (max-width:759px) {
.container
{
    flex-direction: column;
    margin-top: 190px;
    justify-content: center;
    align-items: center;
}
.card
{
    width: 70%;
    margin: 10px 0px;
    transition: 1s;
}
.card:hover {

    transform: scale(1.01);
    box-shadow: -4px -4px 41px 2px #eb6a00, 4px 4px 41px 2px #eb6a00;
    /* box-shadow: -8px -8px 35px 2px #eb6a00, 8px 8px 35px 2px #eb6a00; */
    }
#sponsorsSection
{
    margin-top: 250px;
    height: 400px;
}
#sponsor
{
    flex-direction: column;
    /* border: 2px solid black; */
    align-items: center;
}
#sponsor2
{

    padding: 30px 0px;
}
}
@media screen and (max-width:530px) {
    .navbar
    {
        flex-direction: column;
        height: 250px;
        justify-content: center;
        align-items: center;
    }
    ul
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .burger
    {
        display: block;
    }
    .h-nav
    {
        height: 55px;
    }
    .v-class
    {
        /* opacity: 0px; */
        visibility: hidden;
    }
    .big
    {
        margin-top: 250px;
        font-size: 61px;
    }
    .small{
        font-size:29px;
    }
    #introSection::before
    {
        content: "";
        height: 500px;
        top: 54px;
    }
    #footer
    {
        font-size: 11px;
    }
    .card
    {
        transition: 1s;
    }
    .card:hover {

        transform: scale(1.01);
        box-shadow: -4px -4px 41px 2px #eb6a00, 4px 4px 41px 2px #eb6a00;
        /* box-shadow: -8px -8px 35px 2px #eb6a00, 8px 8px 35px 2px #eb6a00; */
        }
    
    
}
@media screen and (max-width:420px) {

    #introSection::before
{
    content: "";
    background: url('../img/img2.jpg') no-repeat -200px center/cover  ;
    position: absolute;
  

   
    height: 90vh;
    width: 100%;
    z-index: -1;
    /* opacity: 0.8; */
}
.card
{
    transition: 1s;
}
.card:hover {

    transform: scale(1.01);
    box-shadow: -4px -4px 41px 2px #eb6a00, 4px 4px 41px 2px #eb6a00;
    /* box-shadow: -8px -8px 35px 2px #eb6a00, 8px 8px 35px 2px #eb6a00; */
    }
}




#preloader {

    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 117vh;
    width: 100%;
    position: fixed;
    z-index: 200;
    /* background-size: 30%; */
    flex-direction: column;
    margin-top: -100px;
}

#preloader img
{
    height: 150px;
}
#preloader h3
{
    color: rgb(194, 9, 101);
    margin-top: 5rem;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top:-50px;
}